body {
  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto, sans-serif;
}

#header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
}
#header .container {
  position: relative;
}
#header.transparent-header {
  background: 0 0;
  border-bottom: none;
  z-index: 199;
}
#header.semi-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}
#header.transparent-header.floating-header {
  margin-top: 60px;
}
#header.transparent-header.floating-header .container {
  width: 1190px;
  max-width: 1190px;
  background-color: #fff;
  padding: 0 40px;
  border-radius: 2px;
}
#header.transparent-header.floating-header.sticky-header .container {
  width: 1140px;
  max-width: 1140px;
  padding: 0 15px;
}
#header.transparent-header + #google-map,
#header.transparent-header + #page-title.page-title-parallax,
#header.transparent-header + #slider,
#slider + #header.transparent-header {
  top: -100px;
  margin-bottom: -100px;
}
#header.transparent-header.floating-header + #google-map,
#header.transparent-header.floating-header + #slider {
  top: -160px;
  margin-bottom: -160px;
}
#header.transparent-header + #page-title.page-title-parallax .container {
  z-index: 5;
  padding-top: 100px;
}
#header.full-header {
  border-bottom-color: #eee;
}
.stretched #header.full-header .container {
  width: 100%;
  max-width: none;
  padding: 0 30px;
}
#header.transparent-header.full-header #header-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#slider + #header.transparent-header.full-header #header-wrap {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
}
#logo {
  position: relative;
  float: left;
  font-family: Raleway, sans-serif;
  font-size: 36px;
  line-height: 100%;
  margin-right: 40px;
}
#header.full-header #logo {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #eee;
}
#header.transparent-header.full-header #logo {
  border-right-color: rgba(0, 0, 0, 0.1);
}
#logo a {
  display: block;
  color: #000;
}
#logo img {
  display: block;
  max-width: 100%;
}
#logo a.brand-logo {
  display: block;
}
.header-extras {
  float: right;
  margin: 30px 0 0;
}
.header-extras li {
  float: left;
  margin-left: 20px;
  height: 40px;
  overflow: hidden;
  list-style: none;
}
.header-extras li i {
  margin-top: 3px !important;
}
.header-extras li:first-child {
  margin-left: 0;
}
.header-extras li .he-text {
  float: left;
  padding-left: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
}
.header-extras li .he-text span {
  display: block;
  font-weight: 400;
  color: #0767b5;
}
#primary-menu {
  float: right;
}
#primary-menu ul.mobile-primary-menu {
  display: none;
}
#header.full-header #primary-menu > ul {
  float: left;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #eee;
}
#header.transparent-header.full-header #primary-menu > ul {
  border-right-color: rgba(0, 0, 0, 0.1);
}
#primary-menu-trigger {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#primary-menu ul {
  list-style: none;
  margin: 0;
}
#primary-menu > ul {
  opacity: 1;
  -webkit-transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
  -o-transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
  transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
}

#primary-menu > ul {
  float: left;
}
#primary-menu ul li {
  position: relative;
}
#primary-menu ul li.mega-menu {
  position: inherit;
}
#primary-menu ul > li {
  float: left;
  margin-left: 2px;
}

#primary-menu > ul > li:first-child {
  margin-left: 0;
}
#primary-menu ul li > a {
  display: block;
  line-height: 22px;
  padding: 38px 15px;
  color: #444;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  -webkit-transition: margin 0.4s ease, padding 0.4s ease;
  -o-transition: margin 0.4s ease, padding 0.4s ease;
  transition: margin 0.4s ease, padding 0.4s ease;
}
#primary-menu ul li > a span {
  display: none;
}
#primary-menu ul li > a i {
  position: relative;
  top: -1px;
  font-size: 14px;
  width: 16px;
  text-align: center;
  margin-right: 6px;
  vertical-align: top;
}
#primary-menu ul li > a i.icon-angle-down:last-child {
  font-size: 12px;
  margin: 0 0 0 5px;
}
#primary-menu ul li.current > button,
#primary-menu ul li:hover > button,
#primary-menu ul li.current > a,
#primary-menu ul li:hover > a {
  color: #0767b5;
}
body.no-superfish #primary-menu li:hover > .mega-menu-content,
body.no-superfish #primary-menu li:hover > ul:not(.mega-menu-column) {
  display: block;
}
#primary-menu ul li .mega-menu-content,
#primary-menu ul ul:not(.mega-menu-column) {
  display: none;
  position: absolute;
  width: 220px;
  background-color: #fff;
  box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
  border-top: 2px solid #0767b5;
  height: auto;
  z-index: 199;
  top: 100%;
  left: 0;
  margin: 0;
}
#primary-menu ul li .mega-menu-content {
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
}
#primary-menu.on-click ul li .mega-menu-content {
  display: none;
}
#primary-menu.on-click ul li .mega-menu-content.d-block {
  display: -ms-flex !important;
  display: flex !important;
}
#primary-menu ul ul:not(.mega-menu-column) ul {
  top: -2px !important;
  left: 218px;
}
#primary-menu ul li .mega-menu-content.menu-pos-invert,
#primary-menu ul ul.menu-pos-invert:not(.mega-menu-column) {
  left: auto;
  right: 0;
}
#primary-menu ul ul:not(.mega-menu-column) ul.menu-pos-invert {
  right: 218px;
}
#primary-menu ul ul li {
  float: none;
  margin: 0;
}
#primary-menu ul ul li:first-child {
  border-top: 0;
}
#primary-menu ul ul li > a {
  font-size: 12px;
  font-weight: 700;
  color: #666;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  letter-spacing: 0;
  font-family: Lato, sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#primary-menu ul ul li > a i {
  vertical-align: middle;
}
#primary-menu ul ul li:hover > a {
  background-color: #f9f9f9;
  padding-left: 18px;
  color: #0767b5;
}
#primary-menu ul li .mega-menu-content,
#primary-menu ul li.mega-menu-small .mega-menu-content {
  width: 720px;
  max-width: 400px;
}
#primary-menu ul li.mega-menu .mega-menu-content,
.floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content {
  margin: 0 15px;
  width: 1140px;
  max-width: none;
}
.floating-header #primary-menu ul li.mega-menu .mega-menu-content {
  margin: 0;
  width: 1190px;
}
.stretched .container-fullwidth #primary-menu ul li.mega-menu .mega-menu-content {
  margin: 0 60px;
}
.stretched #header.full-header #primary-menu ul li.mega-menu .mega-menu-content {
  margin: 0 30px;
}
#primary-menu ul li.mega-menu .mega-menu-content.style-2 {
  padding: 0 10px;
}
#primary-menu ul li .mega-menu-content ul {
  display: block;
  position: relative;
  top: 0;
  min-width: inherit;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}
#primary-menu ul li .mega-menu-content ul:not(.megamenu-dropdown) {
  display: block !important;
  opacity: 1 !important;
  top: 0;
  left: 0;
}
#primary-menu ul li .mega-menu-content ul.mega-menu-column {
  float: left;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
#primary-menu ul li .mega-menu-content ul.mega-menu-column.col-5 {
  width: 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
#primary-menu ul li .mega-menu-content ul:not(.mega-menu-column) {
  width: 100%;
}
#primary-menu ul li .mega-menu-content ul.mega-menu-column:not(:first-child) {
  border-left: 1px solid #f2f2f2;
}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column {
  padding: 30px 20px;
}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title {
  margin-top: 20px;
}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title:first-child {
  margin-top: 0;
}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a {
  font-size: 13px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase !important;
  margin-bottom: 15px;
  color: #444;
  padding: 0 !important;
  line-height: 1.3 !important;
}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title:hover > a {
  background-color: transparent;
}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a:hover {
  color: #0767b5;
}
#primary-menu ul li .mega-menu-content.style-2 li {
  border: 0;
}
#primary-menu ul li .mega-menu-content.style-2 ul li > a {
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}
#primary-menu ul li .mega-menu-content.style-2 ul li > a:hover {
  padding-left: 12px;
}
.mega-menu-column .entry-meta {
  margin: 8px -10px 0 0 !important;
  border: none !important;
  padding: 0 !important;
}
.mega-menu-column .entry-meta li {
  float: left !important;
  border: none !important;
  margin: 0 10px 0 0 !important;
}
#primary-menu.style-2 {
  float: none;
  max-width: none;
  border-top: 1px solid #f5f5f5;
}
#primary-menu.style-2 > div > ul {
  float: left;
}
#primary-menu.style-2 > div > ul > li > a {
  padding-top: 19px;
  padding-bottom: 19px;
}
#logo + #primary-menu.style-2 {
  border-top: 0;
}

body:not(.device-md):not(.device-sm):not(.device-xs) #primary-menu.style-2.center > div,
body:not(.device-md):not(.device-sm):not(.device-xs) #primary-menu.style-2.center > ul {
  float: none;
  display: inline-block !important;
  width: auto;
  text-align: left;
}
#primary-menu.style-3 > ul > li > a {
  margin: 28px 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 2px;
}
#primary-menu.style-3 > ul > li:hover > a {
  color: #444;
  background-color: #f5f5f5;
}
#primary-menu.style-3 > ul > li.current > a {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #0767b5;
}
#primary-menu.style-4 > ul > li > a {
  margin: 28px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
}
#primary-menu.style-4 > ul > li.current > a,
#primary-menu.style-4 > ul > li:hover > a {
  border-color: #0767b5;
}
#primary-menu.style-5 > ul {
  padding-right: 10px;
  margin-right: 5px;
  border-right: 1px solid #eee;
}
#primary-menu.style-5 > ul > li:not(:first-child) {
  margin-left: 15px;
}
#primary-menu.style-5 > ul > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 14px;
}
#primary-menu.style-5 > ul > li > a i {
  display: block;
  width: auto;
  margin: 0 0 8px;
  font-size: 28px;
  line-height: 1;
}
#primary-menu.style-6 ul > li > a {
  position: relative;
}
#primary-menu.style-6 > div > ul > li.current > a:after,
#primary-menu.style-6 > div > ul > li > a:after,
#primary-menu.style-6 > ul > li.current > a:after,
#primary-menu.style-6 > ul > li > a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 0;
  border-top: 2px solid #0767b5;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
#primary-menu.style-6 > div > ul > li.current > a:after,
#primary-menu.style-6 > div > ul > li:hover > a:after,
#primary-menu.style-6 > ul > li.current > a:after,
#primary-menu.style-6 > ul > li:hover > a:after {
  width: 100%;
}

#header,
#header-wrap,
#logo img {
  height: 100px;
  -webkit-transition: height 0.4s ease, opacity 0.3s ease;
  -o-transition: height 0.4s ease, opacity 0.3s ease;
  transition: height 0.4s ease, opacity 0.3s ease;
}

#header-wrap {
  position: relative;
  z-index: 199;
  -webkit-backface-visibility: hidden;
}
#header.sticky-header #header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header.static-sticky ~ #content #page-menu.sticky-page-menu #page-menu-wrap,
#header.static-sticky ~ #page-menu.sticky-page-menu #page-menu-wrap {
  top: 100px;
}

/* ----------------------------------------------------------------------------
      Parallax
  ---------------------------------------------------------------------------- */

.slider-parallax {
  position: relative;
}
.slider-parallax,
.slider-parallax .swiper-container {
  visibility: visible;
  -webkit-backface-visibility: hidden;
}
.slider-parallax .slider-parallax-inner {
  position: fixed;
  width: 100%;
  height: 100%;
}
.device-touch .slider-parallax .slider-parallax-inner {
  position: relative;
}
// body:not(.side-header) .slider-parallax .slider-parallax-inner {
//   left: 0;
// }
// body:not(.stretched) .slider-parallax .slider-parallax-inner {
//   left: auto;
// }
#header.transparent-header + .slider-parallax .slider-parallax-inner {
  top: 0;
}
.slider-parallax .slider-caption,
.slider-parallax .slider-parallax-inner {
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0s linear;
  -webkit-backface-visibility: hidden;
}

#content {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
#content p {
  line-height: 1.75;
}
.portfolio {
  position: relative;
  margin: 0 -12px -12px 0;
}
.portfolio-2 .portfolio-item {
  width: 50%;
  padding: 0 15px 15px 0;
}
.portfolio-3 .portfolio-item {
  width: 33.33333%;
  padding: 0 15px 15px 0;
}
.portfolio-item {
  float: left;
  position: relative;
  width: 25%;
  height: auto;
  padding: 0 12px 12px 0;
}
.portfolio-item .portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio.portfolio-full {
  margin: 0;
}
.portfolio-full .portfolio-item {
  overflow: hidden !important;
}
.portfolio-full .portfolio-item,
.portfolio-nomargin .portfolio-item {
  padding: 0 !important;
}
.portfolio-notitle .iportfolio,
.portfolio-notitle .portfolio-item {
  overflow: hidden;
}
.iportfolio:hover .portfolio-overlay,
.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.portfolio-overlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f5f5f5;
  width: 40px !important;
  height: 40px !important;
  margin: -28px 0 0 -44px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #444;
  border-radius: 50%;
}
.portfolio-overlay a {
  transition: color 0.2s linear, background-color 0.2s linear, margin-top 0.2s linear, opacity 0.2s linear;
}

.portfolio-overlay a.center-icon {
  display: block;
  margin: -20px 0 0 -20px;
  opacity: 0;
}
.portfolio-item:hover a.center-icon {
  opacity: 1;
}
.portfolio-notitle .portfolio-desc {
  transition: bottom 0.2s ease-in-out;
}
.portfolio-notitle .portfolio-image img {
  transition: all 0.2s ease-in-out;
}
.portfolio-notitle .portfolio-item:hover .portfolio-image img {
  transform: translateY(-20px);
}
.portfolio-overlay {
  transition: opacity 0.4s ease-in-out;
}
.portfolio-notitle .iportfolio:hover .portfolio-desc,
.portfolio-notitle .portfolio-item:hover .portfolio-desc {
  bottom: 0 !important;
}
.portfolio-desc h3 {
  margin: 0;
  padding: 0;
  font-size: 19px;
}
.portfolio-notitle .portfolio-desc {
  position: absolute;
  display: block !important;
  width: 100%;
  height: 78px;
  padding: 15px 5px;
  top: auto;
  bottom: -79px;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.dark .portfolio-notitle .portfolio-desc {
  background-color: #333;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.dark .portfolio-desc span {
  color: #888;
}
.dark .portfolio-desc span a {
  color: #888;
}
.portfolio-desc span a {
  color: #888;
}
.dark .portfolio-desc h3 a {
  color: #eee;
}
.portfolio-desc span {
  display: block;
  margin-top: 3px;
  color: #888;
}
.portfolio-full.portfolio-notitle .portfolio-desc,
.portfolio-nomargin.portfolio-notitle .portfolio-desc {
  bottom: -78px;
  border-bottom: 0;
}

.portfolio-nomargin .portfolio-desc {
  padding: 15px 10px;
}
.portfolio-full .portfolio-desc {
  padding: 15px;
}

.portfolio-desc {
  z-index: 3;
  padding: 15px 5px 10px;
}

.feature-box {
  position: relative;
  margin-top: 20px;
  padding: 0 0 0 80px;
}
.feature-box:first-child {
  margin-top: 0;
}
.feature-box .fbox-icon {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
}
.feature-box .fbox-icon a,
.feature-box .fbox-icon i,
.feature-box .fbox-icon img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}
.feature-box .fbox-icon i,
.feature-box .fbox-icon img {
  border-radius: 50%;
  background-color: #0767b5;
}
.feature-box .fbox-icon i {
  font-style: normal;
  font-size: 28px;
  text-align: center;
  line-height: 64px;
}
.feature-box h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}
.feature-box p {
  margin: 8px 0 0;
  color: #999;
}
.feature-box .before-heading {
  font-size: 14px;
}
.feature-box.fbox-large {
  padding: 0 0 0 115px;
}
.feature-box.fbox-large .fbox-icon {
  width: 96px;
  height: 96px;
}
.feature-box.fbox-large .fbox-icon i {
  font-size: 42px;
  line-height: 96px;
}
.feature-box.fbox-plain .fbox-icon {
  border: none !important;
  height: auto !important;
}
.feature-box.fbox-plain .fbox-icon i,
.feature-box.fbox-plain .fbox-icon img {
  border: none !important;
  background-color: transparent !important;
  color: #0767b5;
  border-radius: 0;
}
.feature-box.fbox-plain .fbox-icon i {
  font-size: 48px;
  line-height: 1 !important;
}
.feature-box.fbox-plain .fbox-icon img {
  height: 64px;
}
.feature-box.fbox-plain.fbox-image .fbox-icon {
  width: auto;
}
.feature-box.fbox-plain.fbox-image .fbox-icon img {
  width: auto;
  display: inline-block;
}
.feature-box.fbox-plain.fbox-small {
  padding-left: 42px;
}
.feature-box.fbox-plain.fbox-small .fbox-icon {
  width: 28px;
}
.feature-box.fbox-plain.fbox-small h3 {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 10px;
}
.feature-box.fbox-plain.fbox-small p {
  margin-left: -42px;
}
.feature-box.fbox-plain.fbox-small .fbox-icon i {
  font-size: 28px;
}
.feature-box.fbox-plain.fbox-small .fbox-icon img {
  height: 28px;
}
.feature-box.fbox-plain.fbox-large .fbox-icon i {
  font-size: 72px;
}
.feature-box.fbox-plain.fbox-large .fbox-icon img {
  height: 96px;
}
.feature-box.fbox-plain.fbox-light .fbox-icon i,
.feature-box.fbox-plain.fbox-light .fbox-icon img {
  color: #888;
}
.feature-box.fbox-plain.fbox-dark .fbox-icon i,
.feature-box.fbox-plain.fbox-dark .fbox-icon img {
  color: #444;
}
.feature-box.fbox-center {
  padding: 0;
  text-align: center;
}
.feature-box.fbox-center.fbox-small {
  padding-left: 0 !important;
}
.feature-box.fbox-center .fbox-icon {
  position: relative;
  width: 96px;
  height: 96px;
  margin: 0 auto 30px;
}
.feature-box.fbox-center .fbox-icon i {
  font-size: 42px;
  line-height: 96px;
}
.feature-box.fbox-center p {
  font-size: 14px;
  margin-top: 15px;
}
.feature-box.fbox-center.fbox-large .fbox-icon {
  width: 128px;
  height: 128px;
}
.feature-box.fbox-center.fbox-large .fbox-icon i {
  font-size: 70px;
  line-height: 128px;
}
.feature-box.fbox-center.fbox-plain .fbox-icon i {
  font-size: 84px;
}
.feature-box.fbox-center.fbox-plain .fbox-icon img {
  height: 96px;
}
.feature-box.fbox-center.fbox-large.fbox-plain .fbox-icon i {
  font-size: 112px;
}
.feature-box.fbox-center.fbox-large.fbox-plain .fbox-icon img {
  height: 128px;
}
.feature-box.fbox-center.fbox-small .fbox-icon {
  width: 64px;
  height: 64px;
}
.feature-box.fbox-center.fbox-small .fbox-icon i {
  font-size: 28px;
  line-height: 64px;
}
.feature-box.fbox-center.fbox-small.fbox-plain .fbox-icon i {
  font-size: 56px;
}
.feature-box.fbox-center.fbox-small.fbox-plain .fbox-icon img {
  height: 64px;
}
.text-rotater .animated {
  display: inline-block;
}
.title-block {
  padding: 2px 0 3px 20px;
  border-left: 7px solid #0767b5;
  margin-bottom: 30px;
}
.title-block-right {
  padding: 2px 20px 3px 0;
  border-left: 0;
  border-right: 7px solid #0767b5;
  text-align: right;
}
.title-block h1,
.title-block h2,
.title-block h3,
.title-block h4 {
  margin-bottom: 0;
}
.title-block > span {
  display: block;
  margin-top: 4px;
  color: #555;
  font-weight: 300;
}
.title-block h1 + span {
  font-size: 22px;
}
.title-block h2 + span {
  font-size: 19px;
}
.title-block h3 + span {
  font-size: 17px;
}
.title-block h4 + span {
  font-size: 15px;
  margin-top: 3px;
}
.heading-block {
  margin-bottom: 50px;
}
.emphasis-title h1,
.emphasis-title h2,
.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}
.emphasis-title h1,
.emphasis-title h2 {
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}
.heading-block h1 {
  font-size: 32px;
}
.heading-block h2 {
  font-size: 30px;
}
.heading-block h3 {
  font-size: 26px;
}
.heading-block h4 {
  font-size: 20px;
  font-weight: 700;
}
.heading-block > span:not(.before-heading) {
  display: block;
  margin-top: 10px;
  font-weight: 300;
  color: #777;
}
.heading-block .before-heading {
  margin-bottom: 7px;
}
.center .heading-block > span,
.heading-block.center > span,
.heading-block.title-center > span {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.heading-block h1 + span {
  font-size: 24px;
}
.heading-block h2 + span {
  font-size: 22px;
}
.heading-block h3 + span,
.heading-block h4 + span {
  font-size: 20px;
}
.heading-block ~ p:not(.lead) {
  font-size: 15px;
}
.heading-block:after {
  content: "";
  display: block;
  margin-top: 30px;
  width: 40px;
  border-top: 2px solid #444;
}
.center .heading-block:after,
.heading-block.center:after,
.heading-block.title-center:after {
  margin: 30px auto 0;
}
.heading-block.title-right,
.heading-block.tright,
.tright .heading-block {
  direction: rtl;
}
.heading-block.noborder:after,
.heading-block.nobottomborder:after {
  display: none;
}
.heading-block.border-color:after {
  border-color: #0767b5;
}
.emphasis-title {
  margin: 0 0 50px;
}
.emphasis-title h1,
.emphasis-title h2 {
  font-size: 64px;
  letter-spacing: -2px;
}
.emphasis-title h1 strong,
.emphasis-title h2 strong {
  font-weight: 700;
}
.title-center {
  text-align: center;
}
.title-center h1,
.title-center h2,
.title-center h3 {
  padding: 0 15px;
}
.title-center h4,
.title-center h5,
.title-center h6 {
  padding: 0 10px;
}
.title-right {
  text-align: right;
}
.title-right h1,
.title-right h2,
.title-right h3 {
  padding: 0 0 0 15px;
}
.title-right h4,
.title-right h5,
.title-right h6 {
  padding: 0 0 0 10px;
}

#gotoTop {
  display: none;
  z-index: 299;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.stretched #gotoTop {
  bottom: 30px;
}

#gotoTop:hover {
  background-color: #0767b5;
}

.stretched #wrapper {
  width: 100%;
  margin: 0;
  box-shadow: none;
}

.grid-border {
  overflow: hidden;
}
.grid-border [class^="col-"]:before,
.grid-border [class^="col-"]:after {
  content: "";
  position: absolute;
}
.grid-border [class^="col-"]:before {
  height: 100%;
  top: 0;
  left: -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.grid-border [class^="col-"]:after {
  width: 100%;
  height: 0;
  top: auto;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.not-animated {
  opacity: 0;
}

.divider {
  clear: both;
  position: relative;
  width: 100%;
  margin: 60px 0;
  border-top: 1px solid #eee;
}
.card ul > li {
  list-style-type: none;
}
.card-block_container {
  border: 0;
  margin-bottom: 24px;
}
.card-block__img {
  display: flex;
  align-items: center;
  height: 250px;
  overflow: hidden;
}

.card-block__title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-block__text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.card-block__note {
  font-size: 0.7rem;
  margin-bottom: 0;
}
