.dark,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #eee;
}
.dark #logo a {
  color: #fff;
}
.dark #header.transparent-header.full-header:not(.sticky-header) #header-wrap:not(.not-dark),
#header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.dark #header.full-header #header-wrap:not(.not-dark),
#header.full-header.dark #header-wrap:not(.not-dark) {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}
.dark #header.full-header.border-full-header #header-wrap,
#header.dark.full-header.border-full-header #header-wrap {
  border-bottom-color: rgba(255, 255, 255, 0.15) !important;
}
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a {
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .dark #primary-menu:not(.not-dark) ul li {
    border-top-color: rgba(255, 255, 255, 0.1) !important;
  }
}
